@media print {
    @page {
        size: 30cm 40cm;
        margin: 0cm 0cm 0cm 0cm;
    }
}

.nav-link:hover {
    font-weight: 500;
}

.green-shadow {
    box-shadow: 0 0.5rem 1rem var(--bs-success);
}

.font-sans-serif {
    font-family: sans-serif;
}

.home-card {
    height: 40vw;
    background-image: url(../public/images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#welcome-box {
    top: 8vw;
}

.btn-outline-success {
    font-size: large;
    padding-inline: 25px;
    box-shadow: 0px 3px 5px var(--bs-success);
}

.btn-outline-danger {
    font-size: large;
    padding-inline: 25px;
    box-shadow: 0px 3px 5px var(--bs-danger);
}

.btn-success {
    font-size: large;
    padding-inline: 25px;
    box-shadow: 0px 3px 10px var(--bs-success);
}

.btn-success:hover {
    color: var(--bs-success);
    background-color: transparent;
    box-shadow: 0px 3px 5px var(--bs-success);
}

.wash-pack-card {
    background-size: cover;
    padding-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

.advert {
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
}

#footer {
    background-color: #d0d0d0;
}

#not-found {
    background-image: url(../public/images/NotFound.png);
    background-size: cover;
    height: 100vh;
}

#login-background {
    background-image: url(../public/images/Background-4.jpg);
    background-size: cover;
    height: 100vh;
    mask-image: linear-gradient(
        0.25turn,
        transparent 0%,
        black 20%,
        black 70%,
        transparent
    );
}

#login-block {
    border-radius: 10%;
    width: max-content;
    top: 10vh;
    font-family: "Bree Serif";
    color: var(--bs-success);
    padding: 5vh 10vh;
    box-shadow: 0px 0px 20px black;
}

.login-input {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid var(--bs-success);
}

.login-input:focus {
    border: none;
    border-bottom: 2px solid rgb(0, 219, 0);
    outline: none;
}

.hyper-link {
    color: var(--bs-success);
    font-size: smaller;
}

.hyper-link:hover {
    color: green;
}

.user-tab {
    border-bottom: 5px solid white;
}

.add-slot {
    background-color: rgba(161, 161, 161, 0.6);
}
.add-slot:hover {
    background-color: rgba(161, 161, 161, 1);
}

#tab-background {
    min-height: 100vh;
    background-image: url(../public/images/ComponentBack_1.jpg);
    background-size: cover;
    mask-image: linear-gradient(transparent 0%, black 5%, black);
}

.form-control-color {
    padding: 3px;
    width: 14%;
}

input:disabled {
    background-color: white;
}

.filter-tab:hover {
    background-color: rgba(25, 135, 84, 0.3);
}

.slot-item {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

.delete-button {
    opacity: 0.4;
}
.delete-button:hover {
    opacity: initial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dropdown-toggle::after {
    display: none;
}

.drop-block {
    background-color: rgba(0, 0, 0, 0.4);
}

#map {
    aspect-ratio: 1/1;
    background-image: url(../public/Map.png);
    background-size: contain;
}

.w-fit-content {
    width: fit-content;
}
.w-min-content {
    width: min-content;
}
.w-max-content {
    width: max-content;
}
